$white: #fff;
$black: #303030;
$grey: #aaa;

* {
    box-sizing: border-box;
}

body {
    color: $black;
    font font-family: 'Source Sans Pro';
    background: url(img/bg.jpg)
}

.container{
    max-width: 325px;
    background-color: $white;
    margin: 30px auto 0;
    max-height: 600px;
    overflow: hidden;
    box-shadow: 0 0 40px lighten($black, 50);
    
    
}

.header{
    
    i{
        vertical-align: top;
        padding: 1em 1em 0 0;
        width: 20%;
        text-align: right;
        font-size: 1.5em;
        color: $grey;
    }
    
    img{
        width: 45%;
        border-radius: 0 0 10px 10px;
    }
}

