body {
    margin-top: 100px; 
    background-image: url('img/background.png');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: 0px -150px;
}

.img {
    padding: 10px;
    margin: auto;
    width: 100px;
    position: 250px 250px;
}


.form {
    margin: auto;
    margin-top: 50px;
    color: #66ff66;
    font: 30px;
    font-family: 'Rye', cursive;
}

.btn-block {
    background-color: #009933;
    color: #fff;
}